:root {
  /* Dimensions*/
  --header-padding: 8px;
  --h1-size: 1.5rem;
  --header-text: 1rem;
  --header-height: calc(var(--h1-size) + var(--header-text) + 2 * var(--header-padding) + 1em);
  
  --gutter-gap: 64px;
  --button-row-height: 48px;

  --footer-height: 1.8em;

  /* Colors */
  --header-bg-color: #0a0a23; 
  --device-color: #333333;
  --board-bg-color: #101010;
  --shadow-color: #0000005a;
  --highlighted-edge: #ffffff5a;

  --board-size: 16;
}

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url("./svg/woodgrain_tileablev2.svg");
  --webkit-backdrop-filter: blur(1.2px) /* Fallback for Safari */
  backdrop-filter: blur(1.2px);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

header {
  box-sizing: border-box;
  padding: var(--header-padding) 0;
  height: var(--header-height);
  text-align: center;
  background-color: var(--header-bg-color);
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  border-bottom: 1px solid white;
}

main{
  height: calc(100% - var(--header-height) - var(--footer-height));
  width: 100%;
}

h1 {
  font-size: var(--h1-size);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  text-align: center;
  background-color: var(--header-bg-color);
  color: white;
}

.main-container {
  box-sizing: content-box;
  background-color: var(--device-color);
  position:relative;
  height: calc(100% -  var(--gutter-gap));
  aspect-ratio: 1 / 1;
  max-width: 800px;
  max-height: 800px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow:
    inset -8px -8px 4px 4px var(--shadow-color),
    inset 2px 2px 4px 4px var(--highlighted-edge),
     6px 4px 12px 8px var(--shadow-color);
  color: white;
  text-shadow: 1px 2px black;
}


.button-row {
  height: var(--button-row-height);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}


button {
  font-weight: 600;
  text-shadow: 2px 2px rgb(6, 19, 26);
  padding: 6px 12px;
  transform: translateY(1px);
  background-color: rgb(10, 80, 112);
  border: 0;
  border-bottom: 1px solid rgb(6, 19, 26);
  border-radius: 45%;
  color: white;
  transition: .1s;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
}

button:hover {
  box-shadow:
    -1px -1px 1px 1px white,
    inset 1px 1px 1px 1px white,
    inset -1px -1px 1px 1px white;
}

button:active {
  border-bottom: 0;
}

#grid-size-input {
  width: 48px;
}

#tile-board-container {
  box-sizing: border-box;
  border: 1px solid var(--shadow-color);
  background-color: var(--board-bg-color);
  height: calc(100% - var(--button-row-height) - var(--button-row-height) / 2);
  aspect-ratio: 1 / 1;
  box-shadow:
    -2px -2px 1px 1px var(--shadow-color),
     2px 2px 1px 1px var(--highlighted-edge);
  margin: auto;
}

.flex-container {
  display: flex;
  height: calc(100% / var(--board-size));
}

.test-tile {
  box-sizing: border-box;
  border: 1px solid var(--shadow-color);
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 1;
  font-size: 12px;
}


 @media screen and (orientation:portrait) {
  /* Board size for device in portrait mode */
  .main-container {
    width: calc(100% - var(--gutter-gap));
    height: revert;
  }
 }

 .color-tile {
  width: 100%;
  height: 100%;
  background-color: white;
 }